body{
    margin:0;
    padding:0;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
a{
    color: gray;
    text-decoration: none;
    font-family:"Sans-serif";
    font-weight: bolder;
    font-size: 24pt;
    display: block;
    height: 40px;
    border-left:10px solid lightcoral;
    padding-left:15px;
    margin: 5px;
}
a:hover {
    color: black;
    border-left-color: coral;
}